[% PROCESS 'header.tt' %]
[% INCLUDE 'nav.tt' %]

                <!-- Main -->
                <div id="main">
                    <div id="form">
                        <!-- <h2>Which API do you want to test?</h2> -->
                        <label for="api">Which API do you want to test?</label>
                        <form id="api-selector">
                            <div class="row gtr-uniform" id="form-row-container">
                                <div class="col-12">
                                    <select name="api" id="api-list">
                                        <option value="">- Select API -</option>
                                    </select>
                                </div>
                                <div class="col-6" id="button-container">
                                    <input class="primary" type="submit" value="Test" id="submit-button" disabled="disabled">
                                </div>
                                <div class="col-6" id="reset-button-container">
                                    <input type="submit" value="Reset" id="reset-button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="results-modal" class="info-modal" title="Query Results" style="display: none">
                <pre>
                </pre>
                </div>

[% PROCESS 'footer.tt' %]
